<div class="admin">
  <h3>manage-phrases works!</h3>
  <hr />

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorum
    ipsum, facere dignissimos perspiciatis est officiis repellat minus provident
    quos libero blanditiis itaque dolor deleniti, harum et perferendis veritatis
    nobis?
  </p>
  <p>
    Ut voluptas nemo architecto ab similique laborum libero impedit mollitia
    deleniti, veritatis molestiae quidem fugiat, eos adipisci esse quisquam
    labore tenetur consequuntur ipsum consequatur neque? Veniam cumque animi
    fuga ipsum.
  </p>
  <p>
    Sed necessitatibus impedit tenetur doloremque consectetur illum? Recusandae
    dolorem ex, eius suscipit ad velit vitae, sunt accusamus dignissimos
    distinctio qui labore et! Praesentium ea voluptatibus facilis. Excepturi
    necessitatibus reiciendis optio?
  </p>
  <p>
    Magni aperiam cupiditate, distinctio tempora voluptate ut facere doloribus
    eligendi. Recusandae rem quae obcaecati, aut beatae aliquam voluptatem
    quaerat officia eos asperiores tenetur dicta repellendus harum repellat
    eligendi eaque autem!
  </p>
</div>
